#set($page_title="index")
<form action="/spring-velocity-sample/home/save" method="POST">
	Nombre:
	#springFormInput('test.name')
	${status.errorMessage}
	<br />
	Edad:
	#springFormInput('test.age')
	${status.errorMessage}
    <button type="submit">Enviar</button>
</form>
