#set($page_title="index")
<form action="/spring-velocity-sample/home/save" method="POST">
	Nombre:
	#springFormInput('test.name' )<br />
	${status.errorMessage}
	Edad:
	#springFormInput('test.age' )
	<br />
		<b>Errores</b>
		${status.errorMessage}
	
    <button type="submit">Enviar</button>
</form>
